<ion-header>
  <ion-toolbar>
    <ion-title>welcomePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="position">
    <ion-item>
      <ion-button  routerLink="/add-patient">Add Patient</ion-button>
    </ion-item>

    <ion-item>
      <ion-button  routerLink="/view-patient">View Patient</ion-button>
    </ion-item>

    <ion-item>
      <ion-button  routerLink="/view-all-patient">View All Patient</ion-button>
    </ion-item>

  <ion-item>
      <ion-button  routerLink="/add-patient-record">Add Patient Record</ion-button>
    </ion-item>

  <ion-item>
      <ion-button  routerLink="/view-patient-record">View Patient Record</ion-button>

    </ion-item>

  <ion-item>
      <ion-button  routerLink="/view-all-patient-record">View All Patient Record</ion-button>

    </ion-item>

  <ion-item>
      <ion-button  routerLink="/critical-condition-patient">Critical Conditions Patient</ion-button>
    </ion-item>



  </div>


</ion-content>
