.position {
  position: absolute;
  top: 25%;
  left: 10%;
}

.button {
  background-color: #e7e5e5;
  width: 250px;
  color: black;
  //size: 40px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
