<ion-header>
  <ion-toolbar>
    <ion-title>addPatientRecord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="position">

  <ion-item>
    <ion-label class = "label"><h1>Enter ID</h1></ion-label>
    <ion-input class = "input-values">   1</ion-input>
  </ion-item>


  <ion-item>
    <ion-label class = "label"><h1>Blood Pressure</h1></ion-label>
    <ion-input class = "input-values">1230 </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>Respiratory Rate</h1></ion-label>
    <ion-input class = "input-values">87</ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>Blood Oxygen level</h1></ion-label>
    <ion-input class = "input-values">77</ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>Heart Beat Rate</h1></ion-label>
    <ion-input class = "input-values">55</ion-input>
  </ion-item>

  <ion-button routerLink="/welcome-page">Add</ion-button>

</div>

</ion-content>
