<ion-header>
  <ion-toolbar>
    <ion-title>viewAllPatient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        Patient ID
      </ion-col>
      <ion-col>
        Patient Name
      </ion-col>
      <ion-col>
        Contact No
      </ion-col>
      </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col>
          1
        </ion-col>
        <ion-col>
          Aaksh
        </ion-col>
        <ion-col>
          122333
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            2
          </ion-col>
          <ion-col>
            john
          </ion-col>
          <ion-col>
            2333321
          </ion-col>
          </ion-row>

          <ion-button routerLink="/welcome-page">Back</ion-button>

</ion-content>
