<ion-header>
  <ion-toolbar>
    <ion-title>viewAllPatientRecord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating"><h1>Akash</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Blood Pressure: 123</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Respiratory Rate: 14</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>oxygen level: 76</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Heartbeat Rate: 65</h1></ion-label>
  </ion-item>

</ion-content>

<ion-content>

  <ion-item>
    <ion-label position="floating"><h1>John</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Blood Pressure: 148</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Respiratory Rate : 82</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>oxygen level: 63</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><h1>Heartbeat Rate: 69</h1></ion-label>
  </ion-item>

  <ion-button class="button" routerLink="/welcome-page">Back</ion-button>

</ion-content>
