<ion-header>
  <ion-toolbar>
    <ion-title>viewPatientRecord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="position">

  <ion-item>
    <ion-label class = "label"><h1>Enter ID</h1></ion-label>
    <ion-input class = "input-values"></ion-input>
  </ion-item>

  <ion-button >GET</ion-button>

  <ion-item>
    <ion-label class = "label"><h1>Blood Pressure</h1></ion-label>
    <ion-input class = "input-values"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>Respiratory Rate</h1></ion-label>
    <ion-input class = "input-values"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>Oxygen Level</h1></ion-label>
    <ion-input class = "input-values"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class = "label"><h1>HeartBeat Rate</h1></ion-label>
    <ion-input class = "input-values"></ion-input>
  </ion-item>



  <ion-button class="button" routerLink="/welcome-page">Back</ion-button>

</div>

</ion-content>


