<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-item>
      <ion-label class = "label" ><h1>Username</h1></ion-label>
      <ion-input class = "input-values" [(ngModel)] ="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class = "label"><h1>Password</h1></ion-label>
      <ion-input  class = "input-values" type="password" [(ngModel)] ="password"></ion-input>
    </ion-item>

    <ion-button (click) = "btnClicked()">SignIn</ion-button>

    <h1> Don't have an Account?</h1>
    <ion-button routerLink="/sign-up">SignUp</ion-button>

  </div>
</ion-content>
