<ion-header>
  <ion-toolbar>
    <ion-title>criticalConditionPatient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating"><h1>Akash</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Blood Pressure : 87</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Respiratory Rate: 76</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Blood Oxygen level: 71</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Heart Beat Rate : 72</ion-label>
  </ion-item>

  <ion-button routerLink="/welcome-page">Back</ion-button>

</ion-content>
